@{
	ViewData["Title"] = "Конвертор";
}

<link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/item.css" asp-append-version="true" />

<div id="myModal" class="modal">
	<div class="modal-content center-element">
		<div>
			<span class="close" id="closeButton">&times;</span>
			<h5 class="text-center">Конвертор валют</h5>
		</div>
		<p>
			Перевести з:
			<select id="valueFrom" class="form-control">
				<option value="UAH">Гривень (₴)</option>
				<option value="USD">Доларів США ($)</option>
				<option value="EUR">Євро (€)</option>
				<option value="GBP">Фунтів Стерлінга (£)</option>
				<option value="PLN">Польських злотів (zł)</option>
				<option value="CZK">Чеських крон (Kč)</option>

			</select>
			<br>
			<label for="priceFrom">Ціна обміну: </label>
			<input type="text" class="form-control" id="priceFrom" />
			<span class="text-danger" id="ErrorSpan"></span>

		</p>

		<br>
		<p>
			Перевести в:
			<select id="valueTo" class="form-control">
				<option value="UAH">Гривні (₴)</option>
				<option value="USD">Долари США ($)</option>
				<option value="EUR">Євро (€)</option>
				<option value="GBP">Фунт Стерлінга (£)</option>
				<option value="PLN">Польські злоті (zł)</option>
				<option value="CZK">Чеські крони (Kč)</option>
			</select>
		</p>

		<button class="green-button" onclick="convertCurrency()">Конвертувати</button>
		<br />

		<label for="priceAfter">Результат:</label>
		<input type="text" class="form-control" id="priceAfter" />

		<label for="priceForOne">Ціна за одну одиницю:</label>
		<input type="text" class="form-control" id="priceForOne" />

	</div>
</div>



<script>
		let modal = document.getElementById("myModal");
		let close = document.getElementById("closeButton");
		modal.style.display = "block";

		close.onclick = function () {
			window.location = "Index";
		};

	async function convertCurrency() {
		let errorSpan = document.getElementById('ErrorSpan').innerHTML = "";
		let apiKey = "059d6f582a06a2e68da19dea";
		let from = document.getElementById("valueFrom").value;
		let to = document.getElementById("valueTo").value;
		let amount = parseFloat(document.getElementById("priceFrom").value);

		if (isNaN(amount)) {
			let errorSpan = document.getElementById('ErrorSpan');
			errorSpan.innerHTML = 'Введіть конкретну суму';
			return;
		}

		if (from === to) {
			document.getElementById("priceAfter").value = amount.toFixed(2);
			document.getElementById("priceForOne").value = 1;
			priceForOne
			return;
		}

		try {
			const url = `https://v6.exchangerate-api.com/v6/${apiKey}/latest/${from}`;
			const response = await fetch(url);
			const data = await response.json();

			if (data.result !== "success") {
				throw new Error("Помилка отримання курсу");
			}

			const rate = data.conversion_rates[to];
			const result = amount * rate;
			document.getElementById("priceAfter").value = result.toFixed(2);
			document.getElementById("priceForOne").value = rate.toFixed(2);
		} catch (error) {
			console.error(error);
			alert("Не вдалося отримати курс валют.");
		}
	}
</script>
