@{
    ViewData["Title"] = "Ласкаво Просимо!";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо на MySpends!</h1>
    <p>MySpends - це платформа, призначена для відслідковування власних витрат. Завдяки ній ви зможете переглядати історію та статистику власних витрат.</p>
</div>
