@{
    ViewData["Title"] = "Ласкаво Просимо!";
}

<link rel="stylesheet" href="~/css/item.css" asp-append-version="true" />


<div class="text-center">
    <h1 class="display-4">Ласкаво просимо на MySpends!</h1>
    <p>MySpends - це платформа, призначена для відслідковування власних витрат. Завдяки ній ви зможете переглядати історію та статистику власних витрат.</p>
     <a type="button" class="text-center green-button" asp-controller="Home" asp-action="Registration">Розпочати роботу</a>
    <p>Вже зареєстровані? <a asp-controller="Home" asp-action="Login">Увійти</a></p>
 </div>


