@{
	ViewData["Title"] = "Вхід";
}

<div class="container h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-lg-12 col-xl-11">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

					<p class="text-center h1">Вхід</p>

					<form class="mx-1 mx-md-4">

						<div class="d-flex flex-row align-items-center mb-4">
							<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
							<div data-mdb-input-init class="form-outline flex-fill mb-0">
								<label class="form-label" for="form3Example3c">Логін</label>
								<input type="email" id="loginInput" class="form-control" />
							</div>
						</div>

						<div class="d-flex flex-row align-items-center mb-4">
							<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
							<div data-mdb-input-init class="form-outline flex-fill mb-0">
								<label class="form-label" for="form3Example4c">Пароль</label>
								<input type="password" id="passwordInput" class="form-control" />
							</div>
						</div>

						<div class="d-flex justify-content-center mx-4">
							<button class="text-center green-button" onclick="LoginPress()">Увійти</button>
						</div>

						<p class="text-center">Ви у нас вперше? <a asp-controller="Home" asp-action="Registration">Зареєструватись</a></p>


					</form>

				</div>

			</div>
		</div>
	</div>
</div>

<script>
	function LoginPress() {
		let userIds = @Html.Raw(Json.Serialize(ViewBag.UsersIds));
		let userLogins = @Html.Raw(Json.Serialize(ViewBag.UsersLogins));
		let userPasswords = @Html.Raw(Json.Serialize(ViewBag.UsersPasswords));

		let loginInput = document.getElementById('loginInput');
		let passwordInput = document.getElementById('passwordInput');
		for (let i = 0; i < userLogins.length; i++) {
			if (userLogins[i] === loginInput.value.trim() && userPasswords[i] === passwordInput.value.trim()) {
				alert("Вхід успішний");
				SetCookie("UserId", userIds[i], 30);
				window.location = "Spends";
			}
		}
	}
</script>