@{
	ViewData["Title"] = "Статистика";
}
<div class="text-center">
	<h2>Статистика за @ViewBag.Months</h2>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="myDiv" class="center-element" style="width:100%; max-width:1000px;"></div>

<script>
	let categoryNames = [];
	let categoryPrices = [];

	categoryNames.push('Відеоігри', 'Продукти', 'Електроніка', 'Одяг');

	categoryPrices.push(250, 1200, 3990, 600)

	let data = [
		{
			x: categoryPrices,
			y: categoryNames,
			type: 'bar',
			orientation: 'h',
			marker: {
				color: '#009933'
			},
		}
	];


	let height = data[0].y.length * 150;

	if (height < 400) height = 400;

	document.getElementById('myDiv').style.height = height + "px"; 
	Plotly.newPlot('myDiv', data);
</script>
