@model IEnumerable<CourseProjectPlanner.Models.Spend>

@{
	ViewData["Title"] = "Статистика";
	List<Category> categoriesList = ViewBag.CategoriesList;
}
<div class="text-center">
	<h2>Статистика за @ViewBag.Months</h2>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

@{
	List<decimal> spendPricesList = new List<decimal>();
	List<string> categoriesNamesList = new List<string>();
	List<string> categoriesFilesList = new List<string>();
	foreach (var category in categoriesList)
	{
		decimal categorySpendSum = 0;
		foreach (var spend in Model)
		{
			if (category.CategoryId == spend.CategoryId)
			{
				categorySpendSum += spend.Price;
			}
		}
		if (categorySpendSum > 0)
		{
			categoriesNamesList.Add(category.Name);
			categoriesFilesList.Add($"/images/{category.ImageName}");
			spendPricesList.Add(categorySpendSum);
		}
	}

}

<div id="barStatistics" class="center-element text-center"></div>

<div class="text-center">
	@{

		decimal generalSum = 0;
		for (int i = 0; i < categoriesNamesList.Count(); i++)
		{
			generalSum += spendPricesList[i];
		}
		<h5>Витрачено усього: ₴@generalSum</h5>
	}
</div>

<script>
	let dataNames = @Html.Raw(Json.Serialize(categoriesNamesList));
	let dataPrices = @Html.Raw(Json.Serialize(spendPricesList));

	let data = [
		{
			labels: dataNames,
			values: dataPrices,
			type: 'pie'
		}
	];


	let layout = {

		height: 400,

		width: 500

	};
	Plotly.newPlot('barStatistics', data);
</script>
