input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}




html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.headerIcon {
    width: 50px;
    height: 50px
}

.green-button {
    border-radius: 10px;
    background-color: #04AA6D;
    border: 1px solid #04AA6D;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
}

    .green-button:hover {
        background-color: white;
        color: #04AA6D;
    }

    .green-button:disabled {
        background-color: #a93226;
        border: 1px solid #a93226;
    }

        .green-button:disabled:hover {
            background-color: white;
            color: #a93226;
        }

.center-element {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.red-button {
    border-radius: 10px;
    background-color: #a93226;
    border: 1px solid #a93226;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
}
    .red-button:hover {
        background-color: white;
        color: #a93226;
    }