
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySpends</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CourseProjectPlanner.styles.css" asp-append-version="true" />
    <script src="/js/CookiesWork.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/images/logo.png" class="headerIcon">MySpends</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Spends">Витрати</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Статистика
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSpends" asp-route-months="1">За 1 місяць</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSpends" asp-route-months="3">За 3 місяці</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSpends" asp-route-months="6">За 6 місяців</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSpends" asp-route-months="12">За 12 місяців</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <div class="vr mx-2 bg-white" style="height: 40px; width: 1px;"></div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Savings">Накопичення</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Статистика
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSavings" asp-route-months="1">За 1 місяць</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSavings" asp-route-months="3">За 3 місяці</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSavings" asp-route-months="6">За 6 місяців</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="StatisticsSavings" asp-route-months="12">За 12 місяців</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <div class="vr mx-2 bg-white" style="height: 40px; width: 1px;"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ExchangeRate">Конвертор валют</a>
                        </li>
                    </ul>



                    <li class="nav-item dropdown">
                        <a class="nav-link text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/login-avatar.png" class="headerIcon">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Login" id ="loginDropdown">Увійти</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Registration" id="registrationDropdown">Зареєструватись</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" onclick="DeleteCookie('UserId');" id="logoutDropdown">Вийти</a></li>
                        </ul>
                    </li>

                    
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-black">
        <div class="container">
            &copy; 2024 - MySpends - <a asp-area="" asp-controller="Home" asp-action="Privacy">Авторське право</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        let logoutDropdown = document.getElementById("logoutDropdown");
        let loginDropdown = document.getElementById("loginDropdown");
        let registrationDropdown = document.getElementById("registrationDropdown");

        let cookieValue = @Html.Raw(Json.Serialize(ViewBag.UserId));

        if (cookieValue != 0) {
            logoutDropdown.style.display = "block";
            loginDropdown.style.display = "none";
            registrationDropdown.style.display = "none";
        }

        else 
        {
            logoutDropdown.style.display = "none";
            loginDropdown.style.display = "block";
            registrationDropdown.style.display = "block";
        }


    </script>
</body>
</html>
